body {
    font-size: 30px;
    text-align: center;
}
input {
    font-size: 20px;
}
div{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 40px;
}