body{
    text-align: center;
    font-size: 21px;

}
.botonSumar{
    font-size: 30px;
    text-align: center;
}

input{
    text-align: center;
    font-size: 20px;
}
.divTabla{
    text-align: center;
}