.container{
    display: grid;
    grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
    grid-template-columns: 6fr 1fr;
    background-color: #e5f321;
    gap: 10px;
    padding: 10px;

    .container{
        background-color: #2e73b2;
    }

}