
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #e0f7fa, #ffffff);
    color: #333;
}

header {
    background-color: #00796b;
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.left {
    width: 25%;
    background-color: #f1f8e9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    font-size: 20px;

}

.left img {
    width: 50%;
    border-radius: 10px;
    margin-bottom: 15px;

}

.left ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.left li {
    margin-bottom: 10px;
}

.center {
    width: 40%;
    font-size: 20px;
    background-color: #fff3e0;
    padding: 20px;
    margin: 0 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.center ul {
    padding-left: 20px;
}
.center>img{
    width: 30%;
}

.right {
    width: 25%;
    background-color: #e1f5fe;
    padding: 20px;

    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-size: 20px;
    text-align: center;

}

.right ul {
    padding-left: 20px;
}
.right>img {
    width: 50%;
}
