body {
    font-size: 30px;
    text-align: center;
}

#contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.cuadro {
    width: 40px;
    height: 40px;
    margin: 2px;
    border: 1px solid #000;
}
