
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('imagen/noticias.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 150px;
    background: url('https://images.unsplash.com/photo-1504384308090-c894fdcc538d?auto=format&fit=crop&w=1200&q=80') no-repeat center center;
    background-size: cover;
}

main {
    flex: 1;
    display: flex;
    padding: 20px;
    gap: 20px;
}

nav {
    flex: 0 0 180px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin:0;
    text-align: center;


}

nav ul li {
    margin-bottom: 92px;
    font-weight: bold;
    cursor: pointer;
    color: #227903;
    font-size: 1.4em;

}

nav ul li:hover {
    text-decoration: underline;
}

.ads {
    flex: 0 0 200px;
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.ads img {
    width: 160px;
    height: 140px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.news {
    flex: 1;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    overflow-y: auto;
}

.news-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    height: 20%;
}

.news-text {
    flex: 1;
    padding-right: 15px;

}

.news-text h3 {
    margin: 0 0 8px 0;
    color: #222;
}

.news-text p {
    margin: 0;
    line-height: 1.4;
}

.news-image img {
    width: 140px;
    height: 90px;
    object-fit: cover;
    border-radius: 6px;
}


