body {
    text-align: center;
}

#contenedor {
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 30px;
}

button {
    font-size: 20px;
}

.alumnos {
    flex: 1;
    text-align: left;
    margin-left: 35%;
}

#resultado {
    flex: 1;
    text-align: left;
    margin-right: 25%;
}

input {
    font-size: 20px;
}
