body {
    text-align: center;
    padding-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


input {
    margin: 10px;
    padding: 8px;
    font-size: 16px;
    width: 150px;
    text-align: center;
}

button {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 20px;
}

td {
    border: 1px solid white;
    padding: 10px 20px;
    font-size: 18px;
}
