body {
    font-size: 30px;
    text-align: center;
}
.imagenes{
    display: flex;
    justify-content: center;
    gap: 30px;
}
img{
    border-radius: 50%;
    width: 400px;
    height: 400px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s;
}
