body{
    text-align: center;
}
.contenedor{
    text-align: center;
    font-size: 25px;
}
button{
    text-align: center;
    font-size: 25px;
}
#operacion{
    width: 50px;
}
option{
    font-size: 20px;
}

